.split-pane {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-pane-horizontal {
  flex-direction: row;
}

.split-pane-vertical {
  flex-direction: column;
}

.split-pane-panel {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.split-pane-panel-fill {
  flex: 1;
}

.split-pane-divider {
  flex-shrink: 0;
  background: #3e3e42;
  transition: background 0.15s;
  z-index: 10;
}

.split-pane-divider:hover,
.split-pane-divider:active {
  background: #0e639c;
}

.split-pane-divider-horizontal {
  width: 4px;
  cursor: col-resize;
}

.split-pane-divider-vertical {
  height: 4px;
  cursor: row-resize;
}
